image: Visual Studio 2017

environment:
  nuget_version: '2.0.0-beta.5'
  nuget_prerelease: false
  assembly_version: '2.0.0'

version: '$(nuget_version)+{build}'
configuration: Release
platform: Any CPU

assembly_info:
  patch: true
  file: SharedAssemblyInfo.cs
  assembly_version: '$(assembly_version).{build}'
  assembly_file_version: '$(assembly_version).{build}'
  assembly_informational_version: '$(nuget_version)'

clone_depth: 5
pull_requests:
  do_not_increment_build_number: true

before_build:
- cmd: >-
    nuget restore

build:
  project: Machine.Specifications.Runner.Resharper.sln
  publish_nuget: false

after_build:
- cmd: >-
    nuget pack Machine.Specifications.Runner.Resharper.nuspec -properties "Version=%NUGET_VERSION%" -outputdirectory Build

test:
  assemblies:
    only:
      - 'Build\Machine.Specifications.ReSharper.Tests.dll'

artifacts:
  - path: Build\*.nupkg

deploy:
  - provider: GitHub
    description: |
      * Added support for dotnet core
    on:
      appveyor_repo_tag: true
    prerelease: $(nuget_prerelease)

    release: v$(nuget_version)
    auth_token:
      secure: VrF5TrpBRN0ims9nJC1LG32O6ga5hsRuGNSufEbatAiIWZ1z68iiCYKZtqnAaT9y

  - provider: NuGet
    server: https://resharper-plugins.jetbrains.com/
    api_key:
      secure: P92SdOXEnaXceqfYz+92EPkPqpccTuUQGD/AN11OYlr1pOY6+Ebrpj4hrapt1exy
    on:
      appveyor_repo_tag: true
