image: Visual Studio 2017

environment:
  PLUGIN_API_KEY:
    secure: uRR/ys2Y9h+kLZKmAr8fm/UhYDZffZmEHVgZnijG/52zcuD8rdtgLCTbDorQ9ZfN/9dFzCqzjVPVurfYLUHTgvowsUbleSxOvxJQZdDjmjvdwt/4lNrldSoOuiMnruPs

build_script:
  - ps: .\build.ps1

skip_branch_with_pr: true

test: off

artifacts:
  - path: artifacts\**\*.nupkg
  - path: artifacts\**\*.zip
