<idea-plugin>
  <id>com.intellij.resharper.machine.specifications</id>
  <name>Machine.Specifications for Rider</name>
  <version>${Version}</version>
  <category>Unit testing</category>
  <vendor url="https://github.com/machine/machine.specifications">Machine Specifications</vendor>
  <idea-version since-build="${SinceBuild}" until-build="${UntilBuild}"/>
  <extensions defaultExtensionNs="com.intellij" />
  <depends>com.intellij.modules.rider</depends>

  <description>
<![CDATA[
<p>This plugin adds test discovery and runner support for the Machine.Specifications framework. Tests can be run from the unit test window or using the gutter marks. A sub-menu will give you options to run tests in debug mode or for different .NET framework targets.</p>

<p>For issues with this plugin, please head to <a href="https://github.com/machine/machine.specifications/issues">GitHub</a>.</p>
]]>
  </description>
</idea-plugin>
