name: publish

on:
  push:
    tags:
      - 'v*'

env:
  DOTNET_NOLOGO: true

jobs:
  publish:
    name: publish
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Fetch all tags and branches
        run: git fetch --prune --unshallow
      - name: Deploy
        env:
          JETBRAINS_API_KEY: ${{ secrets.JETBRAINS_API_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./build.ps1 publish
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          path: |
            artifacts/*.nupkg
            artifacts/*.zip
